<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet"> 
    <title>Rock Paper Scissor</title>
</head>
<body>
    <div class="background-1">
        <nav class="navbar navbar-expand-lg navbar-dark bg-light">
            <div class="container-fluid">
                <a class="navbar-brand mx-5" href="#">LOGO</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto text-center">
                        <li class="nav-item active mx-2">
                            <a class="nav-link" href="#">HOME<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active mx-2">
                            <a class="nav-link" href="#features">FEATURES</a>
                        </li>
                        <li class="nav-item active mx-2">
                            <a class="nav-link" href="#requirements">REQUIREMENTS</a>
                        </li>
                        <li class="nav-item active mx-2">
                            <a class="nav-link" href="#subscribe">CONTACT</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto mr-5 text-center">
                        <li class="nav-item active mx-2">
                            <a class="nav-link" href="#">SIGN UP</a>
                        </li>
                        <li class="nav-item active mx-2">
                            <a class="nav-link" href="#">LOGIN</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <section class="container-fluid main-screen">
            <div class="row">
                <div class="col">
                    <h1>PLAY TRADITIONAL GAME</h1>
                    <h3>Experience new traditional gameplay</h3>
                    <a class="btn btn-warning trial" href="/aplikasi" role="button">TRIAL</a>
                    <br>
                    <a class="scroll-down" href="#bgrnd-2" role="button">
                        THE STORY<br>
                        <img src="/images/scroll-down.svg" class="scroll-down">
                    </a>
                </div>
            </div>
        </section>
    </div>

    <div class="background-2" id="bgrnd-2">
        <section class="container-fluid second-screen">
            <div class="row offset-1">
                <h3>What's so special?</h3>
            </div>
            <div class="row">
                <div class="col-lg-3 offset-1">
                    <h1>THE GAMES</h1>
                </div>
                <div class="col-lg-7">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/images/screenshot-1.jpg" class="d-block w-100">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="background-3" id="features">
        <section class="container-fluid third-screen">
            <div class="row">
                <div class="col-4 offset-7">
                    <h3 id="top-heading">What's so special?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-4 offset-7">
                    <h1>FEATURES</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-4 offset-7">
                    <h3 id="teks">TRADITIONAL GAMES</p>
                    <p>If you miss your childhood, we provide many traditional games here</p>
                </div>
            </div>
            <div class="row">
                <div class="col-4 offset-7">
                    <h3 id="teks">GAME SUIT</p>
                </div>
            </div>
            <div class="row">
                <div class="col-4 offset-7">
                    <h3 id="teks">TBD</p>
                </div>
            </div>
        </section>
    </div>

    <div class="background-4" id="requirements">
        <section class="container-fluid fourth-screen">
            <div class="row ml-5">
                <div class="col-lg-3">
                    <h1>SYSTEM REQUIREMENTS</h1>
                </div>
                <div class="col-lg-3">
                    <h3>Can My Computer Run this game?</h3>
                </div>
            </div>
            <div class="col ml-5 disquette">
                <div class="row">
                    <div class="col-3 disquette-box">
                        <h3>OS:</h3>
                        <p>Windows 7 64-bit only (No OSX support at this time)</p>
                    </div>
                    <div class="col-3 disquette-box">
                        <h3>PROCESSOR</h3>
                        <p>Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 disquette-box">
                        <h3>MEMORY:</h3>
                        <p>4 GB RAM</p>
                    </div>
                    <div class="col-3 disquette-box">
                        <h3>STORAGE:</h3>
                        <p>8 GB available space</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 disquette-box">
                        <h3>GRAPHICS:</h3>
                        <p>NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
                    </div>
                </div>
            </div>
            <div class="bottom"></div>
        </section>
    </div>

    <div class="background-5">
        <section class="container-fluid fifth-screen">
            <div class="row">
                <div class="col-lg-4 offset-lg-1 top-score1">
                    <h1>TOP SCORES</h1>
                    <p>This top score from various games provided on this platform</p>
                    <button class="btn btn-warning" role="button">see more</button>
                </div>
                <div class="col-lg-5 offset-lg-1 top-score2">
                    <div class="row">
                        <div class="col-lg-9 offset-lg-3 top-score-card">
                            <div class="row">
                                <div class="col-4 ml-1 pt-2">
                                    <img src="/images/profile-1.jpg" alt="Evan Lathi" class="round ml-3 mt-1">
                                </div>
                                <div class="col-6 pt-2">
                                    <div class="row mt-1"><h3>Evan Lahti</h3></div>
                                    <div class="row" id="describe">PC Gamer</div>
                                </div>
                                <div class="col-1 pt-1">
                                    <img src="/images/twitter.svg" alt="twitter">
                                </div>
                            </div>
                            <div class="row ml-2 mt-2 mb-1">
                                <p>"One of my gaming highlight of the year"</p>
                            </div>
                            <div class="row ml-2 mb-3 card-date">October 18, 2018</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 top-score-card">
                            <div class="row">
                                <div class="col-4 ml-1 pt-2">
                                    <img src="/images/profile-2.jpg" alt="Jada Griffin" class="round ml-3 mt-1">
                                </div>
                                <div class="col-6 pt-2">
                                    <div class="row mt-1"><h3>Jada Griffin</h3></div>
                                    <div class="row" id="describe">Nerdreactor</div>
                                </div>
                                <div class="col-1 pt-1">
                                    <img src="/images/twitter.svg" alt="twitter">
                                </div>
                            </div>
                            <div class="row ml-2 mt-2 mb-1">
                                <p>"The next big thing in the world of streaming and survival games."</p>
                            </div>
                            <div class="row ml-2 mb-3 card-date">December 21, 2018</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 offset-lg-2 top-score-card">
                            <div class="row">
                                <div class="col-4 ml-1 pt-2">
                                    <img src="/images/profile-3.jpg" alt="Aaron Williams " class="round ml-3 mt-1">
                                </div>
                                <div class="col-6 pt-2">
                                    <div class="row mt-1"><h3>Aaron Williams </h3></div>
                                    <div class="row" id="describe">Uproxx</div>
                                </div>
                                <div class="col-1 pt-1">
                                    <img src="/images/twitter.svg" alt="twitter">
                                </div>
                            </div>
                            <div class="row ml-2 mt-2 mb-1">
                                <p>"Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is Ridiculous."</p>
                            </div>
                            <div class="row ml-2 mb-3 card-date">December 24, 2018</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom"></div>
        </section>
    </div>

    <div class="background-6" id="subscribe">
        <div class="container-fluid">
            <section class="sixth-screen">
                <div class="row">
                    <div class="col-lg-3 offset-lg-1">
                        <img src="/images/image.png" alt="image-ilustration" id="image-ilustration">
                    </div>
                    <div class="col-lg-5 offset-lg-2">
                        <div class="row">
                            <h3>Want to stay in touch?</h3>
                        </div>
                        <div class="row">
                            <h1>NEWSLETTER SUBSCRIBE</h1>
                        </div>
                        <div class="row">
                            <p>In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="col mx-auto teks-area">
                                    <div class="row ml-1">Your email address</div>
                                    <textarea name="email" id="email">youremail@binar.co.id</textarea>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <button class="btn btn-warning" role="button">Subscribe now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="menu-bottom text-center">
                <div class="row mx-5" id="menu-bottom">
                    <div class="col-lg-1">
                        <a href="#">MAIN</a>
                    </div>
                    <div class="col-lg-1">
                        <a href="#">ABOUT</a>
                    </div>
                    <div class="col-lg-2">
                        <a href="#">GAME FEATURES</a>
                    </div>
                    <div class="col-lg-2">
                        <a href="#">SYSTEM REQUIREMENTS</a>
                    </div>
                    <div class="col-lg-1">
                        <a href="#">QUOTES</a>
                    </div>
                    <div class="col-lg-1 mx-n3" id="logo-bottom">
                        <a href="#">
                            <img src="/images/facebook.svg" alt="Facebook">
                        </a>
                    </div>
                    <div class="col-lg-1 mx-n3" id="logo-bottom">
                        <a href="#">
                            <img src="/images/twitter-white.svg" alt="Twitter">
                        </a>
                    </div>
                    <div class="col-lg-1 mx-n3" id="logo-bottom">
                        <a href="#">
                            <img src="/images/youtube.svg" alt="Youtube">
                        </a>
                    </div>
                    <div class="col-lg-1 ml-n3" id="logo-bottom">
                        <a href="#">
                            <img src="/images/twitch.svg" alt="Twitch">
                        </a>
                    </div>
                </div>
                <hr class="mx-5">
            </section>

            <footer>
                <div class="row mx-5">
                    <div class="col-lg-4 mr-auto">
                        <p>© 2018 Your Games, Inc. All Rights Reserved</p>
                    </div>
                    <div class="col-lg-4 offset-2 ml-auto">
                        <a href="#">PRIVACY POLICY</a> | 
                        <a href="#">TERMS OF SERVICES</a> |
                        <a href="#">CODE OF CONDUCT</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="/js/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
</body>
</html>