body {
    background-color: #9C835F;
}

.tombol-kembali {
    width: 40px;
    height: 40px;
}

.logo-game {
    width: 50px;
    height: 50px;
}

.judul, .teks-ket {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.judul {
    color: #F9B23D;
}

.tombol-gambar, .mulai-ulang {
    width: auto;
    height: 60px;
}

.lawan {
    width: auto;
    height: 100px;
}

.pemain:hover {
    width: 85px;
    height: 85px;
    background-color: #C4C4C4;
    border-radius: 30px;
}

#mulai-ulang:hover {
    transform: rotate(-35deg);
}

.komputer-pilih {
    width: 85px;
    height: 85px;
    background: #C4C4C4;
    border-radius: 30px;
}
